/* En üstte olsun */
html, body, #root {
  margin: 0;
  padding: 0;
  height: auto;        /* 100% ise kök yüksekliği sabitlenir; auto yap */
  width: 100%;
  overflow-y: auto;    /* scroll serbest */
}

html, body {
  scroll-behavior: smooth; /* İstersen pürüzsüz kaydırma */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.button-gold:hover {
  transform: scale(1.05);
  border-color: #f1d88c;
  transition: all 0.3s ease;
}
